body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  height: 100vh;
}

h1 {
  font-size: 8rem;
  font-family: Montserrat;
}

.letter {
  transition: color 1000ms;
}